dnspython
feedparser
Flask
gitpython
gunicorn
heroku3
psycopg2-binary
pyrogram
pymongo
python-dotenv
Pyromod==1.5
telegraph
pytz
requests
speedtest-cli
sqlalchemy
TgCrypto
wget
aiohttp
umongo
motor
validators
tenacity
aiohttp
markdown
Pyrogram
Tgcrypto
asyncio
aiohttp
pymongo[srv]
marshmallow
umongo
validators
requests
bs4
Jinja2
werkzeug
itsdangerous
